.header {
   text-align: center;
   background-color: $color-text-light;
   background-image: url("@img/Layer 4.png");
   background-position: 50% 50%;
   background-size: cover;
   min-height: 500px;
   padding: 20px 0;
   color: $gray-900;
}

.navbar {
   margin-bottom: 170px;
}

.section-contact {
   padding: 150px 0;
}

.section-subscribe {
   padding: 40px 0;
   background-color: $success;
}