.section-contact {
   padding: 15rem 0;
   @media (max-width: 768px) {
      padding: 4rem 0;
   }
}

.signup-form {
   margin-bottom: 9.5rem;
   @media (max-width: 768px) {
      margin-bottom: 3rem;
   }
}

.contact-info {
   &__title {
      font-size: 1.8rem;
      margin-bottom: 20px;
   }
   &__descr {
      line-height: 2;
      font-family: "Open Sans", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 20px;
      text-transform: none;
      color: #999999;
   }
   &__requisites {
      margin-bottom: 25px;
   }
}

.requisites {
   line-height: 2;
   font-family: "Open Sans", sans-serif;
   font-size: 1.4rem;
   font-weight: 400;
   text-transform: none;
   color: #999999;

   &__phone {
      color: inherit;
   }
   &__email {
      color: inherit;
      font-weight: 700;
   }
}

#linkedin {
   fill: yellow;
}